.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 35%;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    min-height: 20rem;
    background-color: #fff;
    border-radius: 16px;
    padding: 2rem;
  }

  .card-img {
    display: flex;
    gap: 2rem;
  }

  .test {
    width: 100px;
    height: auto;
  }

  .study,
  .happy {
    width: 200px;
    height: auto;
  }

  .card span {
    color: inherit;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 120%;
  }
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
}

.start-button {
  display: flex;
  color: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  background-color: #e9e8e8d9;
  border-radius: 16px;
  padding: 1.5rem 5rem;
}

@media (max-width: 768px) {
  .info {
    .test {
      width: 50px;
      height: auto;
    }

    .study,
    .happy {
      width: 100px;
      height: auto;
    }
  }
}

@media (max-width: 480px) {
  .info {
    max-width: 100%;

    .test {
      width: 100px;
      height: auto;
    }

    .study,
    .happy {
      width: 200px;
      height: auto;
    }
  }

  .start {
    background-color: #e9e8e8d9;

    .start-button {
      background-color: #fff;
    }
  }
}
