<div class="wrapper">
  <header class="header">
    <a class="logo" routerLink="/dashboard">tester.</a>
    <div class="auth">
      <ng-container [ngSwitch]="user$ | async">
        <ng-container *ngSwitchCase="undefined">
          <div></div>
        </ng-container>

        <ng-container *ngSwitchCase="null">
          <div class="link-wrapper" *ngIf="!isAuthPage()">
            <a class="link" routerLink="/login">Войти</a>
          </div>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <a class="link" routerLink="/profile">Личный кабинет</a>
        </ng-container>
      </ng-container>
    </div>
  </header>

  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
