<h2>Личный кабинет</h2>

<div class="profile-info" *ngIf="userId; else guest">
  <p><strong>Email:</strong> {{ email }}</p>

  <button class="profile-button" (click)="logout()">Выйти</button>

  <h3>История попыток:</h3>
  <ul class="history">
    <li *ngFor="let a of attempts">
      <strong>Попытка от {{ formatDate(a.createdAt) }}</strong> — результат:
      {{ a.score }}/{{ a.total }}
      <button class="profile-button" (click)="viewAttempt(a.id)">
        Посмотреть
      </button>
    </li>
  </ul>
</div>

<ng-template #guest>
  <p>Вы не авторизованы. <a routerLink="/login">Войти</a></p>
</ng-template>
